.tiktokicon {
    width: 2em;
    display: flex;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    .tiktokicon {
        width: 10%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .tiktokicon {
        width: 5%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    .tiktokicon {
        width: 3%;
    }
}

@media screen and (min-width: 2000px) {
    .tiktokicon {
        width: 2%;
    }
}
