body, html {
    height: 98.81%;
    width: auto;
    margin-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

.darkmodebutton {
    background-color: #504f69;
    border: none;
    transition-duration: 0.3s;
    border-radius: 15px;
    color: white;
    padding: 10px 16px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 16px;
}

@media (hover: hover) {
    .darkmodebutton:hover {
        background-color: #c061cb;
        border: none;
        border-radius: 15px;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        display: inline-block;
        font-size: 16px;
    }
}


.darkmodebutton:active {
    background-color: #241f31;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.azor {
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    border-radius: 10px;
}

@supports not (-moz-appearance: none) {
    .azor:active {
        height: 90%;
        width: 100%;
        transition-duration: 0.2s;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
}
